    @{
    ViewData["ParentTitle"] = "Hiển thị";
    ViewData["Title"] = "Hiển thị";
}

@*@await Component.InvokeAsync("EmptyPage")*@

@section Styles {
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />

    <!--CSS-->
}



<div class="row gy-5 g-xl-8">

<!--begin::Col-->
<div class="col-xl-2">
    <!--begin::Card-->
    <a href="http://kdtvn-web:9012/Home" class="card mb-5 mb-xl-8 js-tilt" style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);">
        <!--begin::Card body-->
        <div class="card-body d-flex flex-column flex-stack px-3 pt-2 pb-0 shadow-sm">
            <!--begin::Title-->
            <div class="text-dark fs-3 text-left fw-bolder">11 - Factory B Bachireta System</div>
            <!--end::Title-->
            <!--begin::Illustration-->
            <div class="position-relative align-self-center">
                    <img src="images/apps/11.svg" class="mx-auto h-200px w-200px card-rounded">
            </div>
            <!--begin::Illustration-->
        </div>
        <!--end::Card body-->
    </a>
    <!--end::Card-->
</div>
<!--end::Col-->
<!--begin::Col-->
<div class="col-xl-2">
    <!--begin::Card-->
    <a href="http://kdtvn-web:8008" class="card mb-5 mb-xl-8 js-tilt" style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);">
        <!--begin::Card body-->
        <div class="card-body d-flex flex-column flex-stack px-3 pt-2 pb-0 shadow-sm">
            <!--begin::Title-->
            <div class="text-dark fs-3 text-left fw-bolder">12 - Logistic Management</div>
            <!--end::Title-->
            <!--begin::Illustration-->
            <div class="position-relative align-self-center">
                    <img src="images/apps/12.svg" class="mx-auto h-200px w-200px card-rounded">
            </div>
            <!--begin::Illustration-->
        </div>
        <!--end::Card body-->
    </a>
    <!--end::Card-->
</div>
<!--end::Col-->
<!--begin::Col-->
<div class="col-xl-2">
    <!--begin::Card-->
    <a href="http://kdtvn-web:9013" class="card mb-5 mb-xl-8 js-tilt" style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);">
        <!--begin::Card body-->
        <div class="card-body d-flex flex-column flex-stack px-3 pt-2 pb-0 shadow-sm">
            <!--begin::Title-->
            <div class="text-dark fs-3 text-left fw-bolder">10 - Candidate Management</div>
            <!--end::Title-->
            <!--begin::Illustration-->
            <div class="position-relative align-self-center">
                    <img src="images/apps/10.svg" class="mx-auto h-200px w-200px card-rounded">
            </div>
            <!--begin::Illustration-->
        </div>
        <!--end::Card body-->
    </a>
    <!--end::Card-->
</div>
<!--end::Col--></div>




@section Scripts {
    <!--begin::Page Vendors Javascript(used by this page)-->
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/js/link/link.js"></script>
    <!--end::Page Vendors Javascript-->
}